.About {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
}

.about-pres {
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
}

.pres-text {
    margin-left: 5%;
    width: 80%;
    text-align: left;
    font-weight: 100;
    font-size: 1.5rem;
    line-height: 1.2;
    font-family: "Open Sans", sans-serif;
}

@media only screen and (max-width: 500px) {
    .About {
        margin-top: 3rem;
    }

    .pres-text {
        margin-left: 0px;
        align-self: center;
        text-align: left;
        width: 80%;
    }
}