.biography-align {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    flex-grow: 1;
}

.biography {
    border-radius: 2rem;
    padding: 0.5% 1%;
    display: flex;
    align-items: center;
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: 600;
    font-size: 1.2vw;
    background-color: white;
}

@media screen and (min-width: 800px) {
    .biography {
        font-size: 1.2vw;
        width: 25%;
    }
}

@media screen and (max-width: 799px) {
    .biography {
        font-size: 2.5vw;
        width: 40%;
    }
}
