.Header {
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: left;
    text-align: center;
    font-weight: 300;
}

.Link-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-left: 35%;
    width: 8em;
}

.Link {
    font-size: 2.5em;
    color: #a5a5a5;
    text-decoration: none;
    transition: color 0.3s linear;
}

.Link:hover {
    color: #edae49;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

@media only screen and (max-width: 500px) {
    .Link-box {
        margin-left: 0px;
    }

    .Header {
        justify-content: center;
    }
}