.Header {
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: left;
    text-align: center;
}

.Link-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-left: 5em;
    width: 8em;
}

.Link {
    font-size: 2.5em;
    color: #7C99B4;
    text-decoration: none;
    transition: color 0.3s linear;
}

.Link:hover {
    color: #8EB8E5;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-left: 5em;
}