.Navigation {
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
}

.link {
    text-decoration: none;
    font-size: 1.5vw;
    color: black;
}

.clicked {
    text-decoration: underline;
}
