@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Oswald&display=swap');

body {
    margin: 0px;
    background-color: white;
    color: black;
    font-family: 'Oswald', sans-serif;
    font-size: 10px;
}

.App {
  text-align: center;
  height: 94vh;
  margin: 3vh 3vh;
}

canvas {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}